@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* Global Styles */
:root {
  --light-color: #ededed;
  --danger-color: #e24053;
  --success-color: #47d486;
  --primary-color: #35353b;
  --darker-color: #242429;
  --primary-blue-color: #4acff0;
  --accent-color: #ffdb64;
  /*************************/
  /************Ligh***********/
  /* --darker-color: #f5f5f5;
  --primary-color: #e9e9eb;
  --light-color: #456d9b;
  --primary-blue-color: #4d93fc;
  --accent-color: #ff9c2b; */
  /*************************/
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: var(--darker-color);
  color: var(--light-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: #666;
}

ul {
  list-style: none;
}

/* Utilities */
.container {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--light-color);
}

.text-dark {
  color: var(--dark-color);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

/* List */
.list {
  margin: 0.5rem 0;
}

.list li {
  padding-bottom: 0.3rem;
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

/* Grid */
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: all 0.2s ease-out;
  outline: none;
}

.btn-link {
  background: none;
  padding: 0;
  margin: 0;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-sm {
  font-size: 0.8rem;
  padding: 0.3rem 1rem;
  margin-right: 0.5rem;
  border-radius: 3px;
}

.badge {
  font-size: 0.8rem;
  padding: 0.3rem 0.7rem;
  text-align: center;
  margin: 0.3rem;
  border-radius: 3px;
  font-weight: 600;
}

.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

/* Forms */
input {
  margin: 1.2rem 0;
}

.form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: none;
  border-bottom: 1px solid var(--light-color);
  background-color: transparent;
  color: var(--light-color);
}

input::placeholder {
  color: var(--light-color);
}

input[type="submit"],
button {
  font: inherit;
}

.form-container {
  max-width: 500px;
  margin: 2rem auto;
  overflow: hidden;
  padding: 0 2rem;
}

.form-container h1,
h2,
h3 {
  text-align: center;
}

/* Navbar */

.navbar ul {
  display: flex;
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

/*************************************************/
/***************my custom classes******************/
/*************************************************/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--light-color);
  border-bottom: none;
  margin-bottom: 3rem;
  padding: 0.2rem 3rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.navbar a {
  color: var(--primary-blue-color);
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0.45rem;
  margin: 0 0.25rem;
  transition: 0.2s ease-out;
}

.navbar a:hover {
  color: var(--light-color);
}

.navbar h2 {
  font-weight: 400;
  color: var(--light-color);
}

.navbar ul {
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-icon {
  margin-right: 1rem;
}

.version {
  width: 10rem;
  display: flex;
  justify-content: center;
  border-radius: 3px;
  background-color: var(--primary-color);
  color: var(--accent-color);
}

.card {
  position: relative;
  margin: 1.3rem 0;
  padding: 1rem;
  border: none;
  border-left: 2px solid var(--light-color);
  border-radius: 3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: var(--primary-color);
  color: var(--light-color);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-out;

  /***********************/
  height: 60px;
  overflow: hidden;
  /***********************/
}

.chevron {
  width: 30px;
  position: absolute;
  right: 0.5rem;
  bottom: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--light-color);
  font-size: 1.2rem;
}

.expand {
  height: 180px;
  overflow: visible;
}

.contact-name {
  margin-bottom: 1rem;
}

.list-container {
  opacity: 0;
  transition: all 0.3s ease-out;
  transition-delay: 0.2s;
}

.fade-in {
  opacity: 1;
}

/*professional,personal type contact card left border color*/
.prof-card {
  border-left: 2px solid var(--accent-color);
}
.prsnl-card {
  border-left: 2px solid var(--primary-blue-color);
}
/********************************************/

.card h3 {
  color: var(--light-color);
  font-weight: 500;
}

.badge {
  position: absolute;
  right: 0;
  top: 0;
}

.badge-primary,
.badge-prof,
.badge-prsnl {
  background-color: transparent;
}
.badge-prof {
  color: var(--accent-color);
}
.badge-prsnl {
  color: var(--primary-blue-color);
}

.form-wrapp {
  width: 500px;
  margin: 0 auto;
}
.add-form-heading {
  color: var(--primary-blue-color);
  font-weight: 400;
}
.add-contact {
  border-radius: 3px;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-blue-color);
  color: var(--primary-blue-color);
  font-weight: 400;
}

.add-contact:hover {
  background-color: var(--primary-blue-color);
  color: var(--darker-color);
}

input[type="submit"] {
  font-weight: 400;
}
input[type="select"] option {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.filter-name {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.select-contact-type {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
}

.select-contact-type option {
  color: var(--light-color);
  background-color: var(--primary-color);
}

.select-inputs-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 1rem;
}

.select-inputs-container label,
label {
  display: block;
  margin-top: 1.5rem;
  font-size: 0.9rem;
  color: var(--light-color);
}

.select-inputs-container select {
  color: var(--primary-blue-color);
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
}

.fa-envelope,
.fa-phone-alt {
  color: var(--light-color);
}

.btn-edit,
.btn-delete {
  background-color: transparent;
  border: 1px solid var(--light-color);
  color: var(--light-color);
  padding: 5px 10px;
  font-size: 0.8rem;
}
.btn-delete {
  border: 1px solid var(--danger-color);
}

.btn-delete:hover {
  background-color: var(--danger-color);
}
.btn-delete i {
  color: var(--danger-color);
}

.btn-delete:hover i {
  color: var(--light-color);
}

.btn-edit:hover {
  background-color: var(--light-color);
  color: var(--darker-color);
}

.btn-edit i {
  color: var(--light-color);
}

.btn-edit:hover i {
  color: var(--darker-color);
}

/**************TRANSITIONGROUP ANIMATION**************/
.item-enter {
  opacity: 0;
  transform: translateY(-20px);
}
.item-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.5s ease-out;
}
.item-exit {
  opacity: 1;
  transform: translateY(0px);
}
.item-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.5s ease-out;
}
/****************************************************/

/****************************************************/
/****************************************************/
/* Mobile Styles */
@media (max-width: 900px) {
  .form-wrapp {
    width: 300px;
  }
}
@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }

  .grid-2,
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar h1 {
    margin-bottom: 0.6rem;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
    margin: 0 auto;
  }
}

@media (max-width: 350px) {
  .container {
    padding: 1rem 0;
  }
}
